<% leads.each do |lead| %>
    <a href="<%= leads_path(id: lead) %>">
        <div class="lead-tile">
            <div class="info" style="border: 5px solid #198754">
                <div class="alignment-completed">
                    <div>
                        <span><%= lead.display_name %></span>
                        <div class="lead-h3"><%= item_type_csv(lead) %></div>
                        <div class="flexer">
                            <div class="padding-right-1">
                                <div class="lead-dull">Created By</div>
                                <div class="lead-text"><%= get_creater(lead.created_by) rescue '-' %></div>
                            </div>
                            <div class="padding-right-1">
                                <div class="lead-dull">Created At</div>
                                <div class="lead-text"><%= standard_datetime(lead.created_at) rescue '-' %></div>
                            </div>
                        </div>
                    </div>
                    <div class="right-align">
                        <div class="lead-h3"><%= lead.customer.company_name == "" ? 'Not available' : lead.customer.company_name rescue 'Not available' %></div>
                        <div class="flexer-right">
                            <div class="padding-left-1">
                                <div class="lead-dull">Customer name</div>
                                <div class="lead-text"><%= lead.customer.name == "" ? "-" : lead.customer.name rescue '-' %></div>
                            </div>
                            <div class="padding-left-1">
                                <div class="lead-dull">Contact info</div>
                                <div class="lead-text"><%= lead.customer.mobile.present? ? lead.customer.mobile : '-' rescue '-' %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
<% end %>