<div class="lead-form">
<div class="back-button">
    <a href="<%= @lead.present? and @lead.id.present? ? leads_path(id: @lead) : root_path rescue 'root_path' %>">
        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back</i>
    </a>
</div>
<%= form_with model: @lead, url: leads_path(id: @lead) do |form| %>
    <div class="row">
        <div class="col-lg-6">
            <div class='lead-form-input' style="margin-bottom: 20px;">
                <div class="flexer">
                    <div class="margin-right-auto">Customer</div>
                    <div class="padding-left-1 text-primary add-new-position" data-bs-toggle="modal" data-bs-target="#customerFormModal">
                        Add New
                    </div>
                </div>
                <%= form.select :customer_id, customer_select, {}, {id: 'customer_select_2', class: 'form-control lead-form-input-style', required: true} %>
            </div>

            <div class='lead-form-input'>
                <div class="flexer">
                    <div class="margin-right-auto">Items</div>
                    <div class="padding-left-1 text-primary add-new-position" data-bs-toggle="modal" data-bs-target="#itemFormModal">
                        Add New
                    </div>
                </div>
                <%= form.select :item_type, options_for_select(item_select_options(@lead),item_select_value(@lead)), {}, {id: 'item_select_2',class: 'form-control lead-form-input-style', multiple: true, required: true   } %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :quantity, "Quantity" %>
                <%= form.text_area :quantity, class: 'form-control lead-form-input-style' %>
            </div>

            <%= hidden_field_tag :"lead[created_by]", current_employee_id %>
        </div>
        <div class="col-lg-6">
            <div class='lead-form-input'>
                <%= form.label :employee, "Assign To" %>
                <%= form.select :employee_id, employee_select, {}, {class: 'form-control lead-form-input-style'} %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :status, "Status" %>
                <%= form.select :status, status_select_just_in, {}, {class: 'form-control lead-form-input-style'} %>
            </div>
        </div>
        <div class=''>
                <%= form.label :description, "Description" %>
                <%= form.rich_text_area :description, class: 'form-control ', input_html: { rows: 10 } %>
            </div>
    </div>

    

    <div class='lead-form-input' style="text-align: right;padding-top: 20px;">
        <span class="btn btn-warning"><a href="<%= root_path %>">Cancel</a></span>
        <%= form.submit "Submit", class: 'btn btn-success' %>
    </div>

<% end %>

<div class="modal fade" id="customerFormModal" tabindex="-1" aria-labelledby="customerForm" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="customerFormModalLabel">New Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= render 'customers/form', customer: new_customer, popup: true %>
        </div>
        <div class="modal-footer">
            <span class="edit-button cursor-pointer" id="customer-close" data-bs-dismiss="modal">Close</span>
            <button type="button" class="btn btn-warning" id="popup-customer-submit">Save</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemFormModal" tabindex="-1" aria-labelledby="itemForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="customerFormModalLabel">New Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" name="new_item" id="new_item_string" placeholder="New Item" class="form-control">
        </div>
        <div class="modal-footer">
            <span class="btn btn-warning cursor-pointer" id="item-close" data-bs-dismiss="modal">Close</span>
            <button type="button" class="btn btn-success" id="popup-new-item-submit">Save</button>
        </div>
        </div>
    </div>
</div>

</div>