<div class="lead-form">
<div class="back-button">
    <a href="<%= @lead.present? ? leads_path(id: @lead) : root_path %>">
        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back</i>
    </a>
</div>
<%= form_with model: @lead, url: leads_path(id: @lead) do |form| %>
    <div class="row">
        <div class="col-lg-6">
            <div class='lead-form-input' style="margin-bottom: 20px;">
                <div class="flexer">
                    <div>Customer</div>
                    <div class="padding-left-1"><a href="<%= new_customers_path %>">Add New</a></div>
                </div>
                <%= form.select :customer_id, customer_select, {}, {id: 'customer_select_2', class: 'form-control lead-form-input-style'} %>
            </div>

            <div class='lead-form-input'>
                <div>Item</div>
                <%= form.select :item_type, options_for_select(item_select_options,item_select_value(@lead)), {}, {id: 'item_select_2',class: 'form-control lead-form-input-style', multiple: true   } %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :quantity, "Quantity" %>
                <%= form.text_field :quantity, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :paper_type, "Paper Type" %>
                <%= form.text_field :paper_type, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :colour, "Colour" %>
                <%= form.text_field :colour, class: 'form-control lead-form-input-style' %>
            </div>
        </div>
        <div class="col-lg-6">
            <div class='lead-form-input'>
                <%= form.label :employee, "Assign To" %>
                <%= form.select :employee_id, employee_select, {}, {class: 'form-control lead-form-input-style'} %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :size, "Size" %>
                <%= form.text_field :size, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :slip_no, "Slip. No" %>
                <%= form.text_field :slip_no, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :s_no, "S. No" %>
                <%= form.text_field :s_no, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input'>
                <%= form.label :payment_details, "Payment Details" %>
                <%= form.text_field :payment_details, class: 'form-control lead-form-input-style' %>
            </div>
        </div>
    </div>

    <div class=''>
        <%= form.label :description, "Description" %>
        <%= form.rich_text_area :description, class: 'form-control ' %>
    </div>

    <div class='lead-form-input' style="text-align: right;">
    <span class="edit-button"><a href="<%= root_path %>">Cancel</a></span>
        <%= form.submit "Submit", class: 'edit_button' %>
    </div>

<% end %>
</div>