<div class="index-leads">
    <div class="">
        <div class="filter-flex">
            <div>
                <a class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag "filter.png" %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <% data =  "assigned_to:mahesh" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Assigned To: Mahesh</a>
                    </li>
                    <li>
                        <% data = "assigned_to:shankar" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Assigned To: Shankar</a>
                    </li>
                    <li id="shankar-filter">
                        <% data = "assigned_to:nancy" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Assigned To: Nancy</a>
                    </li>
                    <!-- <li><hr class="dropdown-divider"></li>
                    <li>
                        <% data = "filter_by_status:just_in" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Filter by: Just In</a></li>
                    <li>
                    <li>
                        <% data = "filter_by_status:designing" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Filter by: Designing</a></li>
                    <li>
                        <% data = "filter_by_status:printing" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Filter by: Printing</a></li>
                    <li>
                        <% data = "filter_by_status:binding" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Filter by: Binding</a></li>
                    <li>
                        <% data = "filter_by_status:post_press" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Filter by: Post press</a>
                    </li> -->
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <% data = "priority:high" %>
                        <a class="dropdown-item" href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Priority: High</a>
                    </li>
                </ul>
            </div>
            <% if params["filter"].present? %>
                <% params["filter"].each do |key,value| %> 
                    <div class="filter-button">
                        <span><%= capitalize(key) %> : <%= capitalize(value) %></span>
                        <% data = key %>
                        <span class="close-filter"><a href="<%= root_path(remove_params(data,params.to_unsafe_h)) %>">&times;</a></span>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="filter-buttons">
            <% data = "filter_by_status:just_in" %>
            <button class="<%= active?(params.to_unsafe_h,'just_in') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Just In</a></button>
            <% data = "filter_by_status:designing" %>
            <button class="<%= active?(params.to_unsafe_h,'designing') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Designing</a></button>
            <% data = "filter_by_status:printing" %>
            <button class="<%= active?(params.to_unsafe_h,'printing') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Printing</a></button>
            <% data = "filter_by_status:binding" %>
            <button class="<%= active?(params.to_unsafe_h,'binding') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Binding</a></button>
            <% data = "filter_by_status:ready_for_delivery" %>
            <button class="<%= active?(params.to_unsafe_h,'ready_for_delivery') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Ready for delivery</a></button>
            <% data = "filter_by_status:payment_pending" %>
            <button class="<%= active?(params.to_unsafe_h,'payment_pending') %>"><a href="<%= root_path(build_params(data,params.to_unsafe_h)) %>">Payment Pending</a></button>
        </div>
    </div>

    <div class="index-leads-list">
        <% @leads.each do |lead| %>
        <a href="<%= leads_path(id: lead) %>">
            <div class="lead-tile">
                <div class="info">
                    <div class="alignment">
                        <div>
                            <div class="lead-h3"><%= item_type_csv(lead) %></div>
                            <div class="flexer">
                                <div class="padding-right-1">
                                    <div class="lead-dull">Created By</div>
                                    <div class="lead-text"><%= get_creater(lead.created_by) rescue '-' %></div>
                                </div>
                                <div class="padding-right-1">
                                    <div class="lead-dull">Assigned To</div>
                                    <div class="lead-text"><%= lead.employee.name rescue '-' %></div>
                                </div>
                                <div class="padding-right-1">
                                    <div class="lead-dull">Created At</div>
                                    <div class="lead-text"><%= standard_datetime(lead.created_at) rescue '-' %></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-align">
                            <div class="lead-h3"><%= lead.customer.company_name == "" ? 'Not available' : lead.customer.company_name rescue 'Not available' %></div>
                            <div class="flexer-right">
                                <div class="padding-left-1">
                                    <div class="lead-dull">Customer name</div>
                                    <div class="lead-text"><%= lead.customer.name == "" ? "-" : lead.customer.name rescue '-' %></div>
                                </div>
                                <div class="padding-left-1">
                                    <div class="lead-dull">Contact info</div>
                                    <div class="lead-text"><%= lead.customer.mobile rescue '-' %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status <%= status_background(lead) %>">
                        <div class="lead-h3">Status</div>
                        <div class="lead-text"><%= capitalize(lead.status) %></div>
                    </div>
                </div>
            </div>
        </a>
        <% end %>
    </div>
</div>