<div class="index-leads">
    <div class="filter-flex">
        <div>
            <a class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag "filter.png" %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li id="mahesh-filter">
                    <% data = {"filter" => {"assigned_to" => "Mahesh"}} %>
                    <a href="<%= root_path(data) %>">Filter by: Assigned To Mahesh</a>
                </li>
                <li id="shankar-filter">
                    <% data = {"filter" => {"assigned_to" => "Shankar"}} %>
                    <a href="<%= root_path(data) %>">Filter by: Assigned To Shankar</a>
                </li>
                <li id="shankar-filter">
                    <% data = {"filter" => {"assigned_to" => "Nancy"}} %>
                    <a href="<%= root_path(data) %>">Filter by: Assigned To Nancy</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <!-- <li><a class="dropdown-item" href="#">Sort by:</a></li> -->
            </ul>
        </div>
        <div class="filter-button">
            <span>Sort by Date: Descending</span>
            <span class="close-filter">&times;</span>
        </div>
    </div>

    <div class="index-leads-list">
        <% @leads.each do |lead| %>
        <a href="<%= leads_path(id: lead) %>">
            <div class="lead-tile">
                <div class="info">
                    <div class="alignment">
                        <div>
                            <div class="lead-h3"><%= item_type_csv(lead) %></div>
                            <div class="flexer">
                                <div class="padding-right-1">
                                    <div class="lead-dull">Created By</div>
                                    <div class="lead-text"><%= get_creater(lead.created_by) rescue '-' %></div>
                                </div>
                                <div class="padding-right-1">
                                    <div class="lead-dull">Assigned To</div>
                                    <div class="lead-text"><%= lead.employee.name rescue '-' %></div>
                                </div>
                                <div class="padding-right-1">
                                    <div class="lead-dull">Created At</div>
                                    <div class="lead-text"><%= standard_datetime(lead.created_at) rescue '-' %></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-align">
                            <div class="lead-h3"><%= lead.customer.company_name == "" ? 'Not available' : lead.customer.company_name rescue 'Not available' %></div>
                            <div class="flexer-right">
                                <div class="padding-left-1">
                                    <div class="lead-dull">Customer name</div>
                                    <div class="lead-text"><%= lead.customer.name == "" ? "-" : lead.customer.name rescue '-' %></div>
                                </div>
                                <div class="padding-left-1">
                                    <div class="lead-dull">Contact info</div>
                                    <div class="lead-text"><%= lead.customer.mobile rescue '-' %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status <%= status_background(lead) %>">
                        <div class="lead-h3">Status</div>
                        <div class="lead-text">Just In</div>
                    </div>
                </div>
            </div>
        </a>
        <% end %>
    </div>
</div>