<div class="leads-show">
    <span id="lead-id" data-lead_id="<%= @lead.id %>"></span>
    <div class="back-button">
        <a href="<%= root_path %>">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Back</i>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="lead-customer">
                <div class="lead-h3 border-botto">Customer Info</div>
                <div class="lead-dull">Name</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.name rescue '-' %></div>
                <div class="lead-dull">Company Name</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.company_name rescue '-' %></div>
                <div class="lead-dull">Primary Contact</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.mobile rescue '-' %></div>
                <div class="lead-dull">Email</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.email rescue '-' %></div>
                <div class="lead-dull">GST number</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.gst_number rescue '-' %></div>
                <div class="lead-dull">Additional Info</div>
                <div class="lead-text padding-bottom-2"><%= @lead.customer.note rescue '-' %></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="lead-order">
                <div class="flexer-space-between">
                    <div class="lead-h3 border-botto">Order Info</div>
                    <span class="rp-id"><%= @lead.display_name %></span>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="lead-dull">Order Item</div>
                        <div class="lead-text padding-bottom-2"><%= item_type_csv(@lead) rescue '-' %></div>
                        <div class="lead-dull">Quantity</div>
                        <div class="lead-text padding-bottom-2" style="white-space: pre-wrap;"><%= @lead.quantity rescue '-' %></div>
                        <div class="lead-dull">Created By</div>
                        <div class="lead-text padding-bottom-2"><%= get_creater(@lead.created_by) rescue '-' %></div>
                        <div class="lead-dull">Paprt Type</div>
                        <div class="lead-text padding-bottom-2" style="white-space: pre-wrap;"><%= @lead.paper_type rescue '-' %></div>
                        <div class="lead-dull">Colour</div>
                        <div class="lead-text padding-bottom-2" style="white-space: pre-wrap;"><%= @lead.colour rescue '-' %></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="lead-dull">Status</div>
                        <div class="lead-text padding-bottom-2" id="show-status-area"><%= @lead.status rescue '-' %></div>
                        <div class="lead-dull">Assigned To</div>
                        <div class="lead-text padding-bottom-2"><%= @lead.employee.name rescue '-' %></div>
                        <div class="lead-dull">Size</div>
                        <div class="lead-text padding-bottom-2 style="white-space: pre-wrap;""><%= @lead.size rescue '-' %></div>
                        <div class="lead-dull">Slip.No</div>
                        <div class="lead-text padding-bottom-2"><%= @lead.slip_no rescue '-' %></div>
                        <!-- <div class="lead-dull">Serial.No</div>
                        <div class="lead-text padding-bottom-2"><%= @lead.s_no rescue '-' %></div> -->
                        <div class="lead-dull">Payment Details</div>
                        <div class="lead-text padding-bottom-2"><%= @lead.payment_details rescue '-' %></div>
                        <!-- <div class="lead-dull">Estimated Price</div>
                        <div class="lead-text padding-bottom-2"><%= @lead.price rescue '-' %></div> -->
                    </div>
                </div>
                <div class="lead-dull">Description</div>
                <div class="lead-text padding-bottom-2"><%= @lead.description rescue '-' %></div>
            </div>
        </div>
        <div class="col-lg-3">
            <%= render "show_actions", lead: @lead unless @lead.status == "completed" %>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="lead-activity">
                <div class="lead-h3 border-botto">Activity</div>
                <% begin %>
                    <% @lead.activities.each do |act| %>
                        <div class="row">
                            <div class="col-lg-3"><%= standard_datetime act.created_at %></div>
                            <div class="col-lg-9"><%= act.description %></div>
                        </div>
                    <% end %>
                <% rescue %>
                    <div>Something went wrong !</div>
                <% end %>
            </div>
        </div>
    </div>
</div>