<div class="customer-form">
    <div class="back-button">
        <a href="<%= (@customer.present? and @customer.id.present?) ? customers_path(id: @customer) : '/admin_dashboard' rescue '/admin_dashboard' %>">
            <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Back</i>
        </a>
    </div>
    <%= form_with model: @customer, url: customers_path(id: @customer) do |form| %>
    <div class="row">
        <div class="col-lg-6">
            <div class='lead-form-input' style="margin-bottom: 20px;">
                <%= form.label :name, "Name" %>
                <%= form.text_field :name, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input' style="margin-bottom: 20px;">
                <%= form.label :mobile, "Mobile" %>
                <%= form.text_field :mobile, class: 'form-control lead-form-input-style' %>
            </div>
        </div>

        <div class="col-lg-6">
            <div class='lead-form-input' style="margin-bottom: 20px;">
                <%= form.label :company_name, "Company Name" %>
                <%= form.text_field :company_name, class: 'form-control lead-form-input-style' %>
            </div>

            <div class='lead-form-input' style="margin-bottom: 20px;">
                <%= form.label :email, "Email ID" %>
                <%= form.text_field :email, class: 'form-control lead-form-input-style' %>
            </div>
        </div>
    </div>

    <div class='lead-form-input' style="margin-bottom: 20px;">
        <%= form.label :note, "Note" %>
        <%= form.rich_text_area :note, class: 'form-control' %>
    </div>

    <div class='lead-form-input' style="text-align: right;">
        <span class="edit-button"><a href="<%= root_path %>">Cancel</a></span>
        <%= form.submit "Submit", class: 'edit_button' %>
    </div>
<% end %>
</div>