<div class="cutomer-info">
    <div class="flexer-space-between padding-bottom-2">
        <div class="padding-right-2">
            <div class="lead-dull">Name</div>
            <div class="lead-text"><%= @customer.name == "" or @customer.name == nil ? "-" : @customer.name %></div>
        </div>
        <div class="padding-right-2">
            <div class="lead-dull">Comapnay Name</div>
            <div class="lead-text"><%= @customer.company_name == "" or @customer.company_name == nil ? "-" : @customer.company_name %></div>
        </div>
        <div class="padding-right-2">
            <div class="lead-dull">Mobile</div>
            <div class="lead-text"><%= @customer.mobile == "" or @customer.mobile == nil ? "-" : @customer.mobile %></div>
        </div>
        <div class="padding-right-2">
            <div class="lead-dull">Email ID</div>
            <div class="lead-text"><%= @customer.email == "" or @customer.email == nil  ? "-" : @customer.email %></div>
        </div>
        <div class="padding-right-2">
            <div class="lead-dull">GST Number</div>
            <div class="lead-text"><%= @customer.gst_number == "" or @customer.gst_number == nil ? "-" : @customer.gst_number %></div>
        </div>
    </div>
    <div>
        <div class="lead-dull">Note</div>
        <div class="lead-text"><%= @customer.note %></div>
    </div>
</div>

<div class="button-div">
    <span class="btn btn-warning"><a href="<%= edit_customers_path(id: @customer) %>">Edit</a></span>
    <span class="btn btn-success"><a method="POST" href="/customers/called?id=#{@customer.id}">Called</a></span>
    <span class="btn btn-danger"><a href="<%= customers_destroy_path(id: @customer) %>" data-method="delete" data-confirm="Are you sure ?">Delete</a></span>
</div> 